*{
    margin: 0%;
    font-family: 'Times New Roman', Times, serif;
}
.loginsignup{
    width: 100%;
    min-height: 90vh;
    background: url("https://images.pexels.com/photos/6700145/pexels-photo-6700145.jpeg");
    background-size:cover;
    background-position: center;
    padding-top: 100px;
}
.loginsignup-container{
    width: 90%;
    max-width: 550px;
    margin: auto;
    padding: 30px 40px;
    box-sizing: border-box;
    box-shadow: 5px 5px 50px  rgb(14, 14, 14); 
    border: 2px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
    transition: height .2s ease;
}
.loginsignup-container h1{
    margin: 15px 0px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.or {
    display: flex;
    align-items: center;
    justify-content: center;
    color:#decfcf;
    padding-top: 5%;
}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
    
}
.loginsignup-fields input {
    height: 60px;
    width: 100%;
    padding-left: 20px;

    outline:  none ;
    outline-width: 1px;
    font-size: 18px;
    box-sizing: border-box; 
    width: 100%;
    height: 35px;
    background: transparent;
    border: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px 20px 20px;
}

.loginsignup-container button{
    width: 100%;
    height: 60px;
    color: #fff;
    /* background: #ff4141; */
    margin-top: 30px;
    border: none;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    background: rgb(168, 86, 86);
    border-radius: 40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);

}
.loginsignup-login{

    margin-top: 20px;
    color: #fafafa;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
}
.loginsignup-fields input::placeholder {
    color: #decfcf;
}
.loginsignup-login span{
    color: #eca037;
    font-weight: 600;
    cursor: pointer;
}
.loginsignup-agree {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-top: 18px;
    gap: 10px;
    color: #d8c5c5;
    font-size: 14px;
    font-weight: 500;
}
.loginsignup .loginsignup-container .login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
    cursor: pointer;
    margin-top: 20px;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 152px 21px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

   
    &:hover {
      box-shadow: 0 -1px 0 rgba(250, 1, 1, 0.04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    
    &:active {
      background-color: #eeeeee;
    }
    
    &:focus {
      outline: none;
      box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
    }
   
  }

@media(max-width: 599px){
    .loginsignup-container h1{
        font-size: 22px;
        margin: 0px;
    }
    .loginsignup-container{
        padding: 30px 20px;
    }
    .loginsignup-fields input{
        padding-left: 10px;
        font-size: 16px;
        height: 50px;
    }
    .loginsignup-fields{
        gap: 15px;
    }
    .loginsignup-container button{
        height: 50px;
        margin-top: 20px;
        font-size: 17px;
    }
    .loginsignup .loginsignup-container .login-with-google-btn {
        background-image: none;

    }
}